* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #C0D6F0;
    height: 100vh;
    place-items: center;
    display: grid;
}

.container {
    height: 480px;
    width: 300px;
    background-color: white;
    border-radius: 12px;
}

.container__img {
    height: 300px;
    width: 300px;
    padding: 15px;
    overflow: hidden;
}

.container__img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.container__details {
    padding: 15px;
}

.container__details  > h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.container__details > p {
    font-size: 17px;
    text-align: center;
    color: grey;
}